<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>alucard_jump_movement_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,173},{30,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,46}}</string>
				<key>sourceSize</key>
				<string>{30,46}</string>
			</dict>

			<key>alucard_jump_movement_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,81},{20,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,48}}</string>
				<key>sourceSize</key>
				<string>{20,48}</string>
			</dict>

			<key>alucard_jump_movement_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,81},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,43}}</string>
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>

			<key>alucard_jump_movement_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,173},{42,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,45}}</string>
				<key>sourceSize</key>
				<string>{42,45}</string>
			</dict>

			<key>alucard_jump_movement_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,40},{45,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,40}}</string>
				<key>sourceSize</key>
				<string>{45,40}</string>
			</dict>

			<key>alucard_jump_movement_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{46,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,39}}</string>
				<key>sourceSize</key>
				<string>{46,39}</string>
			</dict>

			<key>alucard_jump_movement_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,125},{44,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,47}}</string>
				<key>sourceSize</key>
				<string>{44,47}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,256}</string>
			<key>textureFileName</key>
			<string>alucard_jump_movement.png</string>
			</dict>
		</dict>
</plist>