<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>alucard_jump_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,93},{24,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,51}}</string>
				<key>sourceSize</key>
				<string>{24,51}</string>
			</dict>

			<key>alucard_jump_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,189},{24,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,51}}</string>
				<key>sourceSize</key>
				<string>{24,51}</string>
			</dict>

			<key>alucard_jump_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,0},{23,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,51}}</string>
				<key>sourceSize</key>
				<string>{23,51}</string>
			</dict>

			<key>alucard_jump_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,145},{21,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{21,51}}</string>
				<key>sourceSize</key>
				<string>{21,51}</string>
			</dict>

			<key>alucard_jump_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,197},{20,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,51}}</string>
				<key>sourceSize</key>
				<string>{20,51}</string>
			</dict>

			<key>alucard_jump_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,52},{20,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,51}}</string>
				<key>sourceSize</key>
				<string>{20,51}</string>
			</dict>

			<key>alucard_jump_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,0},{18,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{18,51}}</string>
				<key>sourceSize</key>
				<string>{18,51}</string>
			</dict>

			<key>alucard_jump_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{38,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,45}}</string>
				<key>sourceSize</key>
				<string>{38,45}</string>
			</dict>

			<key>alucard_jump_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,46},{33,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,46}}</string>
				<key>sourceSize</key>
				<string>{33,46}</string>
			</dict>

			<key>alucard_jump_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,93},{32,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,47}}</string>
				<key>sourceSize</key>
				<string>{32,47}</string>
			</dict>

			<key>alucard_jump_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,141},{26,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,47}}</string>
				<key>sourceSize</key>
				<string>{26,47}</string>
			</dict>

			<key>alucard_jump_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,189},{25,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,47}}</string>
				<key>sourceSize</key>
				<string>{25,47}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,256}</string>
			<key>textureFileName</key>
			<string>alucard_jump.png</string>
			</dict>
		</dict>
</plist>