<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>alucard_crouch_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,42},{46,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,47}}</string>
				<key>sourceSize</key>
				<string>{46,47}</string>
			</dict>

			<key>alucard_crouch_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{47,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,41}}</string>
				<key>sourceSize</key>
				<string>{47,41}</string>
			</dict>

			<key>alucard_crouch_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,203},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,41}}</string>
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>

			<key>alucard_crouch_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,90},{43,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,40}}</string>
				<key>sourceSize</key>
				<string>{43,40}</string>
			</dict>

			<key>alucard_crouch_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,128},{45,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,38}}</string>
				<key>sourceSize</key>
				<string>{45,38}</string>
			</dict>

			<key>alucard_crouch_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,90},{45,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,37}}</string>
				<key>sourceSize</key>
				<string>{45,37}</string>
			</dict>

			<key>alucard_crouch_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,167},{45,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,35}}</string>
				<key>sourceSize</key>
				<string>{45,35}</string>
			</dict>

			<key>alucard_crouch_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,203},{44,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,33}}</string>
				<key>sourceSize</key>
				<string>{44,33}</string>
			</dict>

			<key>alucard_crouch_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,160},{42,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,31}}</string>
				<key>sourceSize</key>
				<string>{42,31}</string>
			</dict>

			<key>alucard_crouch_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,131},{42,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,28}}</string>
				<key>sourceSize</key>
				<string>{42,28}</string>
			</dict>

			<key>alucard_crouch_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,42},{40,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,26}}</string>
				<key>sourceSize</key>
				<string>{40,26}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,256}</string>
			<key>textureFileName</key>
			<string>alucard_crouch.png</string>
			</dict>
		</dict>
</plist>