<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>alucard_walking_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,44},{25,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,47}}</string>
				<key>sourceSize</key>
				<string>{25,47}</string>
			</dict>

			<key>alucard_walking_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,180},{26,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,46}}</string>
				<key>sourceSize</key>
				<string>{26,46}</string>
			</dict>

			<key>alucard_walking_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,135},{27,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,44}}</string>
				<key>sourceSize</key>
				<string>{27,44}</string>
			</dict>

			<key>alucard_walking_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,138},{33,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,43}}</string>
				<key>sourceSize</key>
				<string>{33,43}</string>
			</dict>

			<key>alucard_walking_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,92},{43,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,44}}</string>
				<key>sourceSize</key>
				<string>{43,44}</string>
			</dict>

			<key>alucard_walking_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,47},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,44}}</string>
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>

			<key>alucard_walking_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,0},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,46}}</string>
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>

			<key>alucard_walking_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,203},{45,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,47}}</string>
				<key>sourceSize</key>
				<string>{45,47}</string>
			</dict>

			<key>alucard_walking_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,154},{46,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,48}}</string>
				<key>sourceSize</key>
				<string>{46,48}</string>
			</dict>

			<key>alucard_walking_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,205},{48,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,49}}</string>
				<key>sourceSize</key>
				<string>{48,49}</string>
			</dict>

			<key>alucard_walking_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,104},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,49}}</string>
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>

			<key>alucard_walking_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,53},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>alucard_walking_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,52}}</string>
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>

			<key>alucard_walking_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,154},{48,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,50}}</string>
				<key>sourceSize</key>
				<string>{48,50}</string>
			</dict>

			<key>alucard_walking_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,104},{44,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,49}}</string>
				<key>sourceSize</key>
				<string>{44,49}</string>
			</dict>

			<key>alucard_walking_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,138},{34,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,47}}</string>
				<key>sourceSize</key>
				<string>{34,47}</string>
			</dict>

			<key>alucard_walking_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,186},{32,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,46}}</string>
				<key>sourceSize</key>
				<string>{32,46}</string>
			</dict>

			<key>alucard_walking_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,0},{31,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,49}}</string>
				<key>sourceSize</key>
				<string>{31,49}</string>
			</dict>

			<key>alucard_walking_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,50},{31,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,46}}</string>
				<key>sourceSize</key>
				<string>{31,46}</string>
			</dict>

			<key>alucard_walking_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,0},{31,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,44}}</string>
				<key>sourceSize</key>
				<string>{31,44}</string>
			</dict>

			<key>alucard_walking_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,0},{30,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,43}}</string>
				<key>sourceSize</key>
				<string>{30,43}</string>
			</dict>

			<key>alucard_walking_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,44},{29,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,43}}</string>
				<key>sourceSize</key>
				<string>{29,43}</string>
			</dict>

			<key>alucard_walking_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,186},{28,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,46}}</string>
				<key>sourceSize</key>
				<string>{28,46}</string>
			</dict>

			<key>alucard_walking_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,88},{29,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,46}}</string>
				<key>sourceSize</key>
				<string>{29,46}</string>
			</dict>

			<key>alucard_walking_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,91},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,46}}</string>
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>

			<key>alucard_walking_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,203},{41,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,46}}</string>
				<key>sourceSize</key>
				<string>{41,46}</string>
			</dict>

			<key>alucard_walking_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,45},{39,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,46}}</string>
				<key>sourceSize</key>
				<string>{39,46}</string>
			</dict>

			<key>alucard_walking_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,137},{41,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,45}}</string>
				<key>sourceSize</key>
				<string>{41,45}</string>
			</dict>

			<key>alucard_walking_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,45},{39,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,45}}</string>
				<key>sourceSize</key>
				<string>{39,45}</string>
			</dict>

			<key>alucard_walking_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,0},{41,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,44}}</string>
				<key>sourceSize</key>
				<string>{41,44}</string>
			</dict>

			<key>alucard_walking_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,183},{37,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,46}}</string>
				<key>sourceSize</key>
				<string>{37,46}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>alucard_walking.png</string>
			</dict>
		</dict>
</plist>