<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>walking_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,0},{23,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,31}}</string>
				<key>sourceSize</key>
				<string>{23,31}</string>
			</dict>

			<key>walking_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,32},{23,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,30}}</string>
				<key>sourceSize</key>
				<string>{23,30}</string>
			</dict>

			<key>walking_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{23,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,31}}</string>
				<key>sourceSize</key>
				<string>{23,31}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{64,64}</string>
			<key>textureFileName</key>
			<string>walking.png</string>
			</dict>
		</dict>
</plist>